
@(data:Models.PersonDetails)

@main(data.username){

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="@routes.LogoutController.logout()"><i class="fa fa-power-off" aria-hidden="true"></i>
                <span style="margin-left:10px;font-size:15px;">Logout</span>
            </a>
            </li>
        </ul>
    </div>
</nav>
<div class="row" style="margin-top:20px;">
    <div class="col-md-3" ></div>
    <div class="col-md-6 info underline" >Name:@data.fName @data.mName @data.lName </div>
    <div class="col-md-3" ></div>
</div>

<div class="row" style="margin-top:20px;">
    <div class="col-md-4" ></div>
    <div class="col-md-4 restInfo" >UserName:@data.username</div>
    <div class="col-md-4" ></div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-md-4" ></div>
    <div class="col-md-4 restInfo" >DateOfBirth:@data.age</div>
    <div class="col-md-4" ></div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-md-4" ></div>
    <div class="col-md-4 restInfo" >Gender:@data.gender </div>
    <div class="col-md-4" ></div>
</div>
<div class="row" style="margin-top:20px;">
    <div class="col-md-4" ></div>
    <div class="col-md-4 restInfo" >Likes To:@data.hobbies</div>
    <div class="col-md-4" ></div>
</div>
}